html, body {
	height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(grey, #CDCDCD); /* For Safari */
background: -o-linear-gradient(grey, #DCDCD); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(grey, #DCDCD); /* For Firefox 3.6 to 15 */
background: linear-gradient(grey, #DCDCD); /* Standard syntax (must be last) */
}

header {
  height: 50px;
  	position: relative;
	background-color: #f9e299;
	width: 970px;
	margin: 0 auto;
	text-align: center
}

header div { 
	font-weight: bold; font-size: 24px; padding-top: 15px; padding-left: 25px; font-style: helvetica;
}

#canvasContainer {
	position: relative;
	padding-top: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#sketchpad {
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	background: white;
	box-shadow: 10px 10px 5px #888888;

}

#clearCanvasButton, #lineWidthSmallButton, #lineWidthMediumButton, #lineWidthLargeButton, #colorBlackButton, #colorBlueButton, #colorRedButton, #colorGreenButton, #colorYellowButton {
	display: none; 
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	
	header {
		display: none;
	}
	
	#canvasContainer {
		position: absolute;
 		left: 0;
		right: 0;
		margin: 0 auto;
	}
	
	#sketchpad {
		position: absolute;
		border: none;
	}
	
	#canvasButtonContainer {
		text-align: center;
		background: grey;
		height: 50px;
	}
	
	#clearCanvasButton, #lineWidthSmallButton, #lineWidthMediumButton, #lineWidthLargeButton, #colorBlackButton, #colorBlueButton, #colorRedButton, #colorGreenButton, #colorYellowButton {
		display: inline;
		margin-top: 13px;
	}
	
	#clearCanvasButton {
		float: left;
		height: 35px;
		width: 125px;
		border: 3px solid grey;
		border-radius: 10px;
 		background-color: #CDCDCD;
		font-size: 14px;
		margin-left: 15px;
		margin-top: 7px;
	}
	
	#lineWidthButtonContainer {
		float: right;
		padding-right: 75px;
 	}
	
	#lineWidthSmallButton, #lineWidthMediumButton, #lineWidthLargeButton {
		height: 25px;
		width: 25px;
		border: 3px solid grey;
		border-radius: 3px;
	}
	
	#lineWidthSmallButton {
		background: url('dotSmall.png') no-repeat;
		background-position:center;
	}
	
	#lineWidthMediumButton {
		background: url('dotMedium.png') no-repeat;
		background-position:center;
	}
	
	#lineWidthLargeButton {
		background: url('dotLarge.png') no-repeat;
		background-position:center; 
	}
	
	#lineWidthSmallButton, #colorBlackButton {
		font-weight: bold;
		border: 3px solid white;
	}
	
	#colorButtonContainer {
		float: right;
		padding-right: 20px;
	}
	
	#colorBlackButton, #colorBlueButton, #colorRedButton, #colorGreenButton, #colorYellowButton {
		height: 25px;
		width: 25px;
		border: 3px solid grey;
		border-radius: 3px;
 	}
 	
 	#colorBlackButton { 
 		border: 3px solid white;
		background-color: #000000;
	}
	
	#colorBlueButton { 
		background-color: #0000FF;
	}
	
	#colorRedButton { 
		background-color: #FF0000;
	}
	
	#colorGreenButton { 
		background-color: #00FF00;
	}
	
	#colorYellowButton { 
		background-color: #FFFF00;
	}
	
}