html, body {
	height: 100%;
	margin: 0;
    overflow: hidden;
	background: #CDCDCD;  
}

#canvasContainer {
	position: relative;
	padding-top: 100px;
	margin: 0 auto;
	width: 985px;
}

#canvasContainer span {
	position: relative;
	top: 25px;
	left: 10px;
	font-family: Helvetica Neue;
	font-weight: bold;
}

#sketchpad {
 	display: block;
	margin: 0 auto;
	background: white;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);

}

#clearCanvasButton, #lineWidthSmallButton, #lineWidthMediumButton, #lineWidthLargeButton, #colorBlackButton, #colorBlueButton, #colorRedButton, #colorGreenButton, #colorYellowButton {
	display: none; 
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	
	html, body {
		background: white;
	}
	
	#canvasContainer {
		position: absolute;
 		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 0;
	}
	
	#canvasContainer span { 
		display: none;
	}
	
	#sketchpad {
		position: absolute;
		border: 1px solid white;
		box-shadow: none;
	}
	
	#canvasButtonContainer {
		text-align: center;
		background: grey;
		height: 50px;
	}
	
	#clearCanvasButton, #lineWidthSmallButton, #lineWidthMediumButton, #lineWidthLargeButton, #colorBlackButton, #colorBlueButton, #colorRedButton, #colorGreenButton, #colorYellowButton {
		display: inline;
		margin-top: 13px;
	}
	
	#clearCanvasButton {
		float: left;
		height: 35px;
		width: 125px;
		border: 3px solid grey;
		border-radius: 10px;
 		background-color: #CDCDCD;
		font-size: 14px;
		margin-left: 15px;
		margin-top: 7px;
	}
	
	#lineWidthButtonContainer {
		float: right;
		padding-right: 75px;
 	}
	
	#lineWidthSmallButton, #lineWidthMediumButton, #lineWidthLargeButton {
		height: 25px;
		width: 25px;
		border: 3px solid grey;
		border-radius: 3px;
	}
	
	#lineWidthSmallButton {
		background: url('dotSmall.png') no-repeat;
		background-position:center;
	}
	
	#lineWidthMediumButton {
		background: url('dotMedium.png') no-repeat;
		background-position:center;
	}
	
	#lineWidthLargeButton {
		background: url('dotLarge.png') no-repeat;
		background-position:center; 
	}
	
	#lineWidthSmallButton, #colorBlackButton {
		font-weight: bold;
		border: 3px solid white;
	}
	
	#colorButtonContainer {
		float: right;
		padding-right: 20px;
	}
	
	#colorBlackButton, #colorBlueButton, #colorRedButton, #colorGreenButton, #colorYellowButton {
		height: 25px;
		width: 25px;
		border: 3px solid grey;
		border-radius: 3px;
 	}
 	
 	#colorBlackButton { 
 		border: 3px solid white;
		background-color: #000000;
	}
	
	#colorBlueButton { 
		background-color: #0000FF;
	}
	
	#colorRedButton { 
		background-color: #FF0000;
	}
	
	#colorGreenButton { 
		background-color: #00FF00;
	}
	
	#colorYellowButton { 
		background-color: #FFFF00;
	}
	
}